@model InterventionEdit

    <form method="post">
        <div class="form-row" hidden>
            <div class="form-group col-md-12">
                <label for="Id">Id intervencije</label>
                <text type="text" class="form-control" id="Id" name="Id" maxlength="50" value="@Model.Id" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="ShortDescription">Naslov intervencije</label>
                <input required  type="text" class="form-control" id="ShortDescription" name="ShortDescription" maxlength="50" value="@Model.ShortDescription" 
                       data-val-required="The Full Name field is required."/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="InterventionDayId">Dan</label>
                <select class="form-control " name="InterventionDayId" id="InterventionDayId" onchange="javascript:SetTimesOnDayChange(this.value);">
                    @foreach (var item in @Model.Days)
                    {
                        @if (@item.Id == @Model.SelectedDay)
                        {
                            <option value="@item.Id" selected> @item.Day</option>
                        }
                        else
                        {
                            <option value="@item.Id"> @item.Day</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="InterventionTimeStartId">Začetek</label>
                <select class="form-control " name="InterventionTimeStartId" id="InterventionTimeStartId" onchange="javascript:SetTimesOnStartTimeChange(this.value);">
                    @foreach (var item in @Model.StartTimes)
                    {
                        @if (@item.Id == @Model.SelectedStartTime)
                        {
                            <option value="@item.Id" selected> @item.Time</option>
                        }
                        else
                        {
                            <option value="@item.Id"> @item.Time</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="InterventionTimeStartId">Konec</label>
                <select class="form-control " name="InterventionTimeEndId" id="InterventionTimeEndId" onchange="javascript:SetTimesOnEndTimeChange(this.value);">
                    @foreach (var item in @Model.EndTimes)
                    {
                        @if (@item.Id == @Model.SelectedEndTime)
                        {
                            <option value="@item.Id" selected> @item.Time</option>
                        }
                        else
                        {
                            <option value="@item.Id"> @item.Time</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="LongDescription">Dolgi opis intervencije</label>
                <textarea class="form-control" id="LongDescription" name="LongDescription" rows="10" maxlength="500">@Model.LongDescription</textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" asp-action="EditIntervention">Vpis</button>
        <a asp-action="Index" class="btn btn-danger">Preklic</a>
    </form>

    <script language="javascript" type="text/javascript">
    function SetTimesOnDayChange(dayId) {
        var selectedStart = $('#InterventionTimeStartId').find(":selected").val();
        var selectedEnd = $('#InterventionTimeEndId').find(":selected").val();
            //console.log(selecteds);console.log(selected);
            if (dayId == 0) {
                //console.log(dayId);
                EnableAll();
                for (var index = 0; index < 7; index++) {
                    $('#InterventionTimeStartId option[value="' + index + '"]').attr("disabled", true);
                }
                for (var index = 1; index < 8; index++) {
                    $('#InterventionTimeEndId option[value="' + index + '"]').attr("disabled", true);
                }
                if (Number(selectedStart) < 7) {
                    DeselectStart();
                    $('#InterventionTimeStartId option[value="' + 7 + '"]').attr("selected", true);
                }
                if (Number(selectedEnd) < 8) {
                    DeselectEnd();
                    $('#InterventionTimeEndId option[value="' + 8 + '"]').attr("selected", true);
                }
            }
            else if (dayId == 7) {
                EnableAll();
                for (var index = 7; index <= 23; index++) {
                    $('#InterventionTimeStartId option[value="' + index + '"]').attr("disabled", true);
                }
                for (var index = 8; index <= 24; index++) {
                    $('#InterventionTimeEndId option[value="' + index + '"]').attr("disabled", true);
                }
                
                if (Number(selectedStart) >= 7) {
                    DeselectStart();
                    $('#InterventionTimeStartId option[value="' + 0 + '"]').attr("selected", true);
                }
                if (Number(selectedEnd) >= 8) {
                    DeselectEnd();
                    $('#InterventionTimeEndId option[value="' + 1 + '"]').attr("selected", true);
                }
            }
            else {
                EnableAll();
            }
        }
    
        function SetTimesOnStartTimeChange(TimeId) {
           // console.log(TimeId);
            var selected = $('#InterventionTimeEndId').find(":selected").val();
            //console.log(selected); console.log(TimeId);

            if ((Number(selected) ) <= Number(TimeId)) {
               DeselectEnd();

                var selected = Number(TimeId) + 1;
                $('#InterventionTimeEndId option[value="' + selected + '"]').attr("selected", true);
            }
        }
    
        function SetTimesOnEndTimeChange(TimeId) {
        //    console.log(TimeId);
            var selected = $('#InterventionTimeStartId').find(":selected").val();

            if ((Number(selected) ) >= Number(TimeId)) {
                DeselectStart();
                var selected = Number(TimeId) - 1;
                $('#InterventionTimeStartId option[value="' + selected + '"]').attr("selected", true);
            }
        }






            function DeselectStart() {
                        for (var index = 0; index <= 23; index++) {
                    $('#InterventionTimeStartId option[value="' + index + '"]').attr("selected", false);
                }
            }

           function DeselectEnd() {
                for (var index = 1; index <= 24; index++) {
                    $('#InterventionTimeEndId option[value="' + index + '"]').attr("selected", false);
                }
            }

           function EnableAll() {
                for (var index = 0; index <= 23; index++) {
                    $('#InterventionTimeStartId option[value="' + index + '"]').attr("disabled", false);
                }
                for (var index = 1; index <= 24; index++) {
                    $('#InterventionTimeEndId option[value="' + index + '"]').attr("disabled", false);
                }
            }

    SetTimesOnDayChange(Number($('#InterventionDayId').find(":selected").val()));
    </script>